* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #303030;
    -webkit-text-size-adjust: 100%;
    background-color: #dfddd0;
}
a {
    color: #303030;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.clear-both {
    clear: both;
}
#main-wrapper {
    width: 1000px;
    margin: 20px auto 0 auto;
}
    #port-picker {
        /* border: 1px solid silver; */
        height: 22px;
        padding-bottom: 20px;
    }
        #port-picker select {
            width: 80px;
            height: 20px;
            line-height: 20px;
            
            float: left;
            margin-right: 10px;
            
            border: 1px solid silver;
        }
        
        #port-picker a {
            float: left;
            line-height: 20px;
        }
    
    #main-wrapper .graph_title {
        font-size: 14px;
        font-weight: bold;
        color: #525252;
    }
    #graph_gyro {
        width: 1000px;
        height: 150px;
        
        margin-bottom: 20px;
        
        border: 1px solid silver;
        background-color: white;
    }
    #graph_accel {
        width: 1000px;
        height: 150px;
        
        margin-bottom: 20px;
        
        border: 1px solid silver;
        background-color: white;
    }    
    #graph_kinematics {
        width: 1000px;
        height: 150px;
        
        margin-bottom: 20px;
        
        border: 1px solid silver;
        background-color: white;
    } 
    #graph_tx {
        width: 1000px;
        height: 150px;
        
        border: 1px solid silver;
        background-color: white;
    }      