* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #303030;
    -webkit-text-size-adjust: 100%;
    background-color: #dfddd0;
}
a {
    color: #303030;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.clear-both {
    clear: both;
}
#main-wrapper {
    width: 1000px;
    margin: 20px auto 0 auto;
}
    #port-picker {
        height: 22px;
        padding-bottom: 20px;
    }
        #port-picker select {
            width: 80px;
            height: 20px;
            line-height: 20px;
            
            float: left;
            margin-right: 10px;
            
            border: 1px solid silver;
        }
        
        #port-picker a {
            float: left;
            line-height: 20px;
        }
    
    #main-wrapper .graph_title {
        font-size: 14px;
        font-weight: bold;
        color: #525252;
    }
    #graph_gyro {
        width: 600px;
        height: 150px;
        
        margin-bottom: 20px;
        
        border: 1px solid silver;
        background-color: white;
    }
    #graph_accel {
        width: 600px;
        height: 150px;
        
        margin-bottom: 20px;
        
        border: 1px solid silver;
        background-color: white;
    }    
    #graph_kinematics {
        width: 600px;
        height: 150px;
        
        margin-bottom: 20px;
        
        border: 1px solid silver;
        background-color: white;
    } 
    #graph_tx {
        width: 350px;
        height: 150px;
        
        border: 1px solid silver;
        background-color: white;
    }  
    .layout {
        margin-left: 20px;
    }
    .layout #graph_tx {
        margin-bottom: 20px;
    }
    
.left {
    float: left;
}
.right {
    float: right;
}

/* interactive_block */
#interactive_block {
    height: 340px;
    width: 350px;
    
    border: 1px solid silver;
    background-color: white;
}
    #interactive_block a.reset {
        position: relative;
        
        top: 315px;
        left: 10px;
    } 
    #interactive_block a.reset:hover {
        text-decoration: none;
    }
    #perspective {
        -webkit-perspective: 800;
        -webkit-perspective-origin: 50% 100px;
    }  
        #cube {
            position: relative;
            top: 140px;
            left: 120px;
            
            height: 100px;
            width: 100px;
            
            -webkit-transform-style: preserve-3d;
        }  
            #cube .face {
                position: absolute;
                
                color: white;
                font-size: 25px;
                text-align: center;
            }
            #cube .one  {
                width: 100px;
                height: 200px;
                line-height: 200px;

                -webkit-transform: rotateX(-90deg) translateZ(-50px);
                background-color: purple;
            }
            #cube .two {
                width: 100px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: translateZ(100px);
                background-color: blue;
            }
            #cube .three {
                width: 200px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: rotateY(90deg);
                background-color: green;
            }
            #cube .four {
                width: 100px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: rotateY(180deg) translateZ(100px);
                background-color: black;
            }
            #cube .five {
                width: 200px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: rotateY(-90deg) translateZ(100px);
                background-color: red;
            }
            #cube .six {
                width: 100px;
                height: 200px;
                line-height: 200px;
                
                -webkit-transform: rotateX(90deg) translateZ(100px);
                background-color: silver;
            }