* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    color: #303030;
    -webkit-text-size-adjust: 100%;
    background-color: #dfddd0;
}
a {
    color: #303030;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.clear-both {
    clear: both;
}
#main-wrapper {
    width: 1000px;
    margin: 20px auto 0 auto;
}
    #port-picker {
        height: 22px;
        padding-bottom: 20px;
    }
        #port-picker dl {
            float: left;
            width: 150px;
        }
        #port-picker dt {
            float: left;
            
            width: 100px;
            height: 25px;
        }
        #port-picker dd {
            margin-left: 100px;
            height: 25px;
        }
        #port-picker select {
            width: 90px;
            height: 20px;
            line-height: 20px;
            
            float: left;
            margin-right: 10px;
            
            border: 1px solid silver;
        }
        #port-picker input {
            width: 88px;
            height: 20px;
            line-height: 20px;
            
            float: left;
            margin-right: 10px;
            
            border: 1px solid silver;        
        }
        #port-picker a {
            display: block;
            
            width: 80px;
            height: 18px;
            border: 1px solid silver;
            
            line-height: 18px;
            text-align: center;
        }
        #port-picker a.refresh {
            background-color: #5569d0;
            color: white;
        }
            #port-picker a.refresh:hover {
                text-decoration: none;
                background-color: #424d84;
            }
        #port-picker a.connect {
            margin-top: 5px;
            background-color: #51c7b5;
            color: white;
        }
            #port-picker a.connect:hover {
                text-decoration: none;
                background-color: #2d7066;
            }
    
    #main-wrapper .graph_title {
        font-size: 14px;
        font-weight: bold;
        color: #525252;
    }
    #graph_gyro {
        width: 600px;
        height: 150px;
        
        margin-bottom: 20px;
        
        border: 1px solid silver;
        background-color: white;
    }
    #graph_accel {
        width: 600px;
        height: 150px;
        
        margin-bottom: 20px;
        
        border: 1px solid silver;
        background-color: white;
    }    
    #graph_kinematics {
        width: 600px;
        height: 150px;
        
        margin-bottom: 20px;
        
        border: 1px solid silver;
        background-color: white;
    } 
    #graph_tx {
        width: 350px;
        height: 150px;
        
        border: 1px solid silver;
        background-color: white;
    }  
    .layout {
        margin-left: 20px;
    }
    .layout #graph_tx {
        margin-bottom: 20px;
    }
    
.left {
    float: left;
}
.right {
    float: right;
}

/* interactive_block */
#interactive_block {
    height: 340px;
    width: 350px;
    
    border: 1px solid silver;
    background-color: white;
}
    #interactive_block a.reset {
        position: relative;
        display: block;
        
        top: 315px;
        left: 10px;
        
        width: 80px;
        height: 18px;
        line-height: 18px;
        
        color: white;
        text-align: center;
        
        border: 1px solid silver;
        background-color: blue;
    } 
    #interactive_block a.reset:hover {
        text-decoration: none;
    }
    #perspective {
        -webkit-perspective: 800;
        -webkit-perspective-origin: 50% 100px;
    }  
        #cube {
            position: relative;
            top: 140px;
            left: 120px;
            
            height: 100px;
            width: 100px;
            
            -webkit-transform-style: preserve-3d;
        }  
            #cube .face {
                position: absolute;
                
                color: white;
                font-size: 25px;
                text-align: center;
            }
            #cube .face.one  {
                width: 100px;
                height: 200px;
                line-height: 200px;

                -webkit-transform: rotateX(-90deg) translateZ(-50px);
                background-color: purple;
            }
            #cube .face.two {
                width: 100px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: translateZ(100px);
                background-color: blue;
            }
            #cube .face.three {
                width: 200px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: rotateY(90deg);
                background-color: green;
            }
            #cube .face.four {
                width: 100px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: rotateY(180deg) translateZ(100px);
                background-color: black;
            }
            #cube .face.five {
                width: 200px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: rotateY(-90deg) translateZ(100px);
                background-color: red;
            }
            #cube .face.six {
                width: 100px;
                height: 200px;
                line-height: 200px;
                
                -webkit-transform: rotateX(90deg) translateZ(100px);
                background-color: silver;
            }
            
            #cube .motor {
                display: block;
                position: absolute;
                
                width: 40px;
                height: 40px;  
                
                background-color: rgb(0, 0, 0);
            }
            #cube .motor.one {                
                -webkit-transform: rotateX(90deg) translateX(-40px) translateY(-75px) translateZ(0px);
            }
            #cube .motor.two {
                -webkit-transform: rotateX(90deg) translateX(100px) translateY(-75px) translateZ(0px);          
            }
            #cube .motor.three {
                -webkit-transform: rotateX(90deg) translateX(100px) translateY(75px) translateZ(0px);               
            }
            #cube .motor.four {
                -webkit-transform: rotateX(90deg) translateX(-40px) translateY(75px) translateZ(0px);              
            }            