* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: #303030;
    -webkit-text-size-adjust: 100%;
    background-color: #dfddd0;
}
a {
    color: #303030;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.clear-both {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#main-wrapper {
    width: 940px;
    margin: 10px auto 0 auto;
    
    padding: 0 10px 0 10px;
}
#port-picker {
    float: left;
}
    #port-picker dl {
        float: left;
        width: 150px;
    }
    #port-picker dt {
        float: left;
        
        width: 100px;
        height: 25px;
    }
    #port-picker dd {
        margin-left: 100px;
        height: 25px;
    }
    #port-picker select {
        width: 90px;
        height: 20px;
        line-height: 20px;
        
        float: left;
        margin-right: 10px;
        
        border: 1px solid silver;
    }
    #port-picker input {
        width: 88px;
        height: 20px;
        line-height: 20px;
        
        float: left;
        margin-right: 10px;
        
        border: 1px solid silver;        
    }
    #port-picker a {
        display: block;
        
        width: 80px;
        height: 18px;
        border: 1px solid silver;
        
        line-height: 18px;
        text-align: center;
    }
    #port-picker a.refresh {
        background-color: #5569d0;
        color: white;
    }
        #port-picker a.refresh:hover {
            text-decoration: none;
            background-color: #424d84;
        }
    #port-picker a.connect {
        margin-top: 5px;
        background-color: #be2222;
        color: white;
    }
        #port-picker a.connect:hover {
            text-decoration: none;
            background-color: #ea3131;
        }
    #port-picker a.connect.active {
        background-color: #0fab16;
    }
        #port-picker a.connect.active:hover {
            background-color: #13d81d;
        }       
        
#command-log {
    float: right;
    
    width: 680px;
    height: 60px;
    
    border: 1px solid silver;
    
    background-color: white;
    
    overflow: auto;
} 
    #command-log .wrapper {
        padding: 5px;
    }
#tabs {
    position: absolute;
    margin-top: 1px;
}
    #tabs li {
        float: left;
        border: 1px solid #848484;
        border-right: 0;
    }
        #tabs li.first {
        }
        #tabs li.last {
            border-right: 1px solid #848484;
        }
        #tabs li.active {
            border-bottom: 1px solid white;
        }
            #tabs li.active a {
                background-color: white;            
            }
            #tabs li.active a:hover {
                background-color: white;
                cursor: default;
            }
        #tabs li a {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            
            display: block;
            background-color: #e6e6e6;
        }
        #tabs li a:hover {
            text-decoration: none;
            background-color: #bdbdbd;
        }
#content {
    margin-top: 27px;
    
    padding: 10px;
    
    background-color: white;
    min-height: 355px;
    
    border: 1px solid #848484;
}
table.pid_tuning {
    width: 100%;
    border-collapse:collapse;    
}
    table.pid_tuning, table.pid_tuning th, table.pid_tuning td {
        padding: 5px;
        border: 1px solid #8b8b8b;
    }
    table.pid_tuning input {
        width: 130px;
        height: 18px;
        line-height: 18px;
        
        padding: 0 5px 0 5px;
        border: 1px solid silver;
        text-align: right;
    }
    table.pid_tuning a.update {
        display: block;
        
        width: 60px;
        height: 18px;
        line-height: 18px;
        
        color: white;
        text-align: center;
        
        border: 1px solid silver;
        background-color: #078814;
    }
    table.pid_tuning a.update:hover {
        text-decoration: none;
        background-color: #13b723;
    }
  
/* Flotr related styles */
.flotr-legend {
    padding: 2px;
    left: 31px;
    top: 20px;
    border: 0;
    
    background-color: white;
}
  
/* tab section */
.tab-initial_setup {
}
    .tab-initial_setup .calibrateESC {
        float: left;
        display: block;
        
        margin-top: 8px;
        
        width: 160px;
        height: 23px;
        line-height: 23px;
        
        text-align: center;
        color: white;
        
        background-color: #5569d0;
        border: 1px solid silver;
    }
    .tab-initial_setup .calibrateESC:hover {
        text-decoration: none;
        background-color: #424d84;
    }
    .tab-initial_setup .calibrateAccel {
        float: left;
        display: block;
        
        margin-top: 25px;
        
        width: 160px;
        height: 23px;
        line-height: 23px;
        
        text-align: center;
        color: white;
        
        background-color: #5569d0;
        border: 1px solid silver;
    }
    .tab-initial_setup .calibrateAccel:hover {
        text-decoration: none;
        background-color: #424d84;
    }
    .tab-initial_setup .initializeEEPROM {
        float: left;
        display: block;
        
        margin-top: 15px;
        
        width: 160px;
        height: 23px;
        line-height: 23px;
        
        text-align: center;
        color: white;
        
        background-color: #be2222;
        border: 1px solid silver;
    }
    .tab-initial_setup .initializeEEPROM:hover {
        text-decoration: none;
        background-color: #ea3131;
    }
    .tab-initial_setup p {
        margin-left: 170px;
        margin-bottom: 10px;
        
        padding: 5px;
        
        border: 1px dotted silver;
    }
.sensor_data #graph_gyro {
    width: 900px;
    height: 180px;
} 
.sensor_data #graph_accel {
    width: 900px;
    height: 180px;
} 
#graph_receiver {
    width: 900px;
    height: 360px;
}
#interactive_block {
    height: 350px;
    width: 916px;
    
    border: 1px solid silver;
    background-color: white;
}
    #interactive_block a.reset {
        position: relative;
        display: block;
        
        top: 315px;
        left: 10px;
        
        width: 80px;
        height: 18px;
        line-height: 18px;
        
        color: white;
        text-align: center;
        
        border: 1px solid silver;
        background-color: blue;
    } 
    #interactive_block a.reset:hover {
        text-decoration: none;
    }
    #perspective {
        -webkit-perspective: 800;
        -webkit-perspective-origin: 50% 150px; /* 150px = (350px / 2) - 25px */
    }  
        #cube {
            position: relative;
            top: 140px;
            left: 408px; /* (916px / 2) - 50px */
            
            height: 100px;
            width: 100px;
            
            -webkit-transform-style: preserve-3d;
        }
            #cubePITCH {
                -webkit-transform-style: preserve-3d;
            }
            #cubeROLL {
                -webkit-transform-style: preserve-3d;
            }
            #cube .face {
                position: absolute;
                
                color: white;
                font-size: 25px;
                text-align: center;
            }
            #cube .face.one  {
                width: 100px;
                height: 200px;
                line-height: 200px;

                -webkit-transform: rotateX(-90deg) translateZ(-50px);
                background-color: purple;
            }
            #cube .face.two {
                width: 100px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: translateZ(100px);
                background-color: blue;
            }
            #cube .face.three {
                width: 200px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: rotateY(90deg);
                background-color: green;
            }
            #cube .face.four {
                width: 100px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: rotateY(180deg) translateZ(100px);
                background-color: black;
            }
            #cube .face.five {
                width: 200px;
                height: 50px;
                line-height: 50px;
                
                -webkit-transform: rotateY(-90deg) translateZ(100px);
                background-color: red;
            }
            #cube .face.six {
                width: 100px;
                height: 200px;
                line-height: 200px;
                
                -webkit-transform: rotateX(90deg) translateZ(100px);
                background-color: silver;
            }
.tab-motor_output {
}
    .tab-motor_output .bar_wrapper {
    
    }
    .tab-motor_output .titles {
        width: 100%;
        height: 20px;
    }
        .tab-motor_output .titles li {
            float: left;
            width: 62px;
            margin-right: 10px;
            
            text-align: center;
        }
        .tab-motor_output .titles .active {
            color: green;
        }
    .tab-motor_output .m-block {
        float: left;
        
        width: 60px;
        height: 330px;
        
        margin-right: 10px;
        
        border: 1px solid silver;
        background-color: #e9e9e9;
    }
    .tab-motor_output .indicator {
        position: absolute;
        margin-top: 330px;
        
        width: 60px;
        height: 0px;
    }